{% extends 'app/export/export.html' %}
{%load static%}
{% block content-right-content %}
{% comment %} <table>
    {% for row   in  csv_infor %}
        <tr>
            {% for value in row %}
                <td>
                    {{value}}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table> {% endcomment %}
<textarea  readonly  style="padding-left:20px ;height:99%; width:100%;resize: none;cursor:  cursor: not-allowed;border:none;outline: none;">
{{csv_infor}} 
</textarea>

{% endblock content-right-content %}
