{% extends 'app/emaildatafile.html' %} {%load static%} {% block right-content %}
<script src="{%static 'app/js/export_js/export.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<div style="height: 50px" class="header-content">
  <nav style="padding: 0px; height: 100%" class="navbar bg-body-tertiary">
    <div style="height: 100%; padding: 0px" class="container-fluid">
      <a id="name-export" class="navbar-brand">CSV Export Options</a>
      <div id="box-save-close">
        <a href="{% url 'save_export' %}" style="text-decoration: none;" id="box-save" type="button">
          <i class="fas fa-save fa-2x"></i>
          <span style="padding-left: 5px;" id="Save-text-export">Save</span>
        </a>
        <a href="{% url 'emaildatafile' %}" id="box-close" type="button">
          <i class="far fa-window-close fa-lg"></i>
        </a>
      </div>
    </div>
  </nav>
</div>

<div style="padding-left: 20px" class="content-right-content-export">
  {% block content-right-content%} {% endblock content-right-content%}
</div>
{% endblock right-content %}
