{% extends 'app/base.html' %}
{%load static%}
{% block main-content %}

    <div class="header-content">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand">{{filecsv_name}}</a>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </div>
    <div style="--bs-gutter-x: unset;" class="row row-content">
        <div style="padding: 0px;" class="col-md-3 col-left">
            <div class="left-content">
              <div class="list-group list-file-email">

              </div>
            </div>
        </div>
        <div style="padding: 0px;"  class="col-md-9 col-right">
            <div class="right-content">
                <textarea  readonly  style="height:99%; width:100%;resize: none;cursor:  cursor: not-allowed;border:none;outline: none;">{{csv_infor}} </textarea>
              {% comment %} {% block right-content%} {% endblock right-content%} {% endcomment %}
            </div>
        </div>
    </div>
<!-- Default dropend button -->
{% endblock main-content %}
