{% extends 'app/analysis/home_analysis/inforEmaildatafile.html' %}
{% load static %}
{% block content-right-content %}
<div id="box_hex_data">
  {{ infor_email.hex_data|safe }}
  <div>
    <script>
      $(document).ready(function () {
        var currentUrl = window.location.href;
        var messageid = currentUrl.split('/').pop();
        messageid = decodeURIComponent(messageid);
        $("a[data-messageid='"+messageid + "']").addClass("active");
        $('#list-menu-right-content .nav-item a').removeClass('active')
        $('#' + 'inforemail_hexview').addClass('active')
      })
    </script>
    {% endblock content-right-content %}
  </div>
</div>
