{% extends 'app/analysis/home_analysis/inforEmaildatafile.html' %}
{%load static%}
{% block content-right-content %}
<iframe class="ifram_email" srcdoc="{{infor_email.email_content}}"></iframe>
<script>
    $(document).ready(function () {
        var currentUrl = window.location.href;
        var messageid = currentUrl.split('/').pop();
        messageid = decodeURIComponent(messageid);
        debugger;
        $("a[data-messageid='"+messageid + "']").addClass("active");
        $('#list-menu-right-content .nav-item a').removeClass('active');
        $('#' + "inforemail_content").addClass('active');
      })
</script>
{% endblock content-right-content %}
