{% extends 'app/base.html' %}
{%load static%}
{% block main-content %}

<script src="{%static 'app/js/emaildatafile.js'%}"></script>
    <div class="header-content">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand">{{folder_name}}</a>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </div>
    <div style="--bs-gutter-x: unset;" class="row row-content">
        <div style="padding: 0px;" class="col-md-3 col-left">
            <div class="left-content">
              <div class="list-group list-file-email">
                {% for  email in  list_email%}
                
                <a href="{%url 'inforemail_content' email.file_name%}" id="box-file{{ forloop.counter }}"  class="list-group-item item-file-email  list-group-item-action">
                  <div class="box-icon-file">
                    <i class="far fa-envelope fa-lg"></i>
                  </div>
                  <div class="box-infor-file">
                    <div class="box-title-file">
                      {{email.sender_name}}
                    </div>
                    <div class="box-content-file">
                      <div class="box-Compact-file">{{email.subject_email}}</div> <div class="box-time-file"> {{email.date_email}} </div>
                    </div>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
        </div>
        <div style="padding: 0px;"  class="col-md-9 col-right">
            <div class="right-content">
              {% block right-content%} {% endblock right-content%}
            </div>
        </div>
    </div>
<!-- Default dropend button -->
{% endblock main-content %}
