{% extends 'app/emaildatafile.html' %} {%load static%} {% block right-content %}
<script src="{%static 'app/js/inforEmaildatafile.js'%}"></script>
<div class="navbar-right-content" id="list-menu-right-content">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="inforemail_content"
                href="{%url 'inforemail_content' file_name %}">Content</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="inforemail_massageheader"
                href="{%url 'inforemail_massageheader' file_name %}">Message Header</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="inforemail_hexview" href="{%url 'inforemail_hexview' file_name %}">Hex View</a>
        </li>
    </ul>
</div>
<div style="padding-left: 20px;" class="header-right-content">
    <div id="from_date_email">
        <div id="from_email"><strong>{{infor_email.from_email}}</strong></div>
        <div style="padding-right: 10px;" id="date_email">{{infor_email.date_email}}</div>
    </div>
    <div id="title_email">{{infor_email.subject_email}}</div>
    <div id="to_email">To: {{infor_email.to}}</div>
    <div id="cc_email">CC: {{infor_email.cc}}</div>
</div>
<div style="padding-left: 20px;" class="content-right-content">
    {% block content-right-content%} {% endblock content-right-content%}
</div>
{% endblock right-content %}