* {
    box-sizing: border-box;

  }
  body{
    font-size: 16px !important;
    height:100%  !important;
    width: 100% !important;
    line-height: unset;
  }
.header{
 border-bottom: 1px solid rgba(58, 57, 57, 0.3);
 height: 57px;
}
.content{
    height: calc(100vh - 57px - 80px);
    border-bottom: 1px solid rgba(58, 57, 57, 0.3);
    background-color: #fff !important;
    overflow: hidden;
}
.footer {
    height: 80px;
    text-align: center;
    padding: 3px;
    background-color: rgb(231, 231, 231);
    color: white;
  }
.header-content{
    border-bottom: 1px solid rgba(58, 57, 57, 0.3);
    height: 50px;
}
.row-content{
    width: 100%;
    height: calc(100% - 50px);
}

.header-content-title{
    padding: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #3d7ec1;
}


.icon-open{
    color: #e9c12f;
}
.icon-export{
    color: rgb(31 203 45);
}
.icon-extract{
    color: rgb(250, 115, 194);
}
.icon-options{
    color: rgb(217 22 40);;
}
#list-menu-top .nav-item:hover{
    background-color: #95eef5;
}
.list_export{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: black;
    height: 40px;
}

.item-action:hover {
    background-color: rgba(192, 191, 191, 0.836);
  }

.list_export:hover{
    background-color: #dddddd;
}
.active{
    background-color: #95eef5;
}
.icon-emlFile{
    color: rgb(33 199 91);
}
.icon-msgFile{
    color: #d97a42;
}
.icon-csvFile{
    color: #86b7fe;
}
.icon-chooseFolder{
    color: #e9c12f;
}
.icon-chooseFile{
    color: #00b6e3;
}

.dropdown-menu-exportDropdown{
    width:250px;
    padding: 0px;
}

.title_list_export{
    height: 35px;
    line-height: 35px;
    text-align: left;
    background-color: rgba(192, 191, 191, 0.836);
}


.text_footer{
    color: black;
}

.disable{
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

/* ==========================EXPORT==================== */
#box-save-close{
    padding: 0px;
    height:100%; 
    display: flex;
    color: #3d7ec1;
}

#box-save{
    padding: 0px;
    height:100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3d7ec1;
}

.box-extract{
    padding: 0px;
    height:100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3d7ec1;
}
#box-close{
    padding: 0px;
    height:100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3d7ec1;
}
#box-close:hover {
    background-color: rgba(226, 226, 226, 0.884);
}
#box-save:hover {
    background-color: rgba(226, 226, 226, 0.884);
}

.box-extract:hover {
    background-color: rgba(226, 226, 226, 0.884);
}


.cursor-pointer{
    cursor: pointer;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    z-index: 1;
    color: var(--bs-list-group-action-hover-color);
    text-decoration: none;
    background-color: #e9e9e9c7;
}


/* ========================================DASHBOARD================================================ */
.bg-gradient-info{
    background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%)
}

.border-radius-lg{
    border-radius: .5rem;
}

.bg-gradient-primary{
    background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
}

.bg-gradient-success{
    background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
}

.bg-gradient-dark{
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
}

.icon-lg i {
    top: 31%;
    font-size: 1.5rem;
}
.icon-shape i {
    color: #fff;
    opacity: 0.8;
    top: 11px;
    position: relative;
}

.icon {
    display: inline-block;
    color: #111111;
    height: 1em;
    width: 1em;
}
