        /* CSS để tạo bảng đẹp */

#table_dataframe{
    table-layout: fixed;
    width: 100%;
    margin-bottom: 14px;
}

#table_dataframe td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}


#table-box{
    padding: 0px 20px 0px 20px;
    overflow: auto;
}
/* ------------------------ */

.ifram_dataframe_content{
    height: calc(100% - 50px) !important;
    overflow: auto;
    max-width: 100%;
    word-wrap: break-word;
}

.fff_color{
    background-color: #fff !important;
}

.box-date{
    display: flex;
    width: 300px;
    margin: 0px 10px;
}

.label-date{
    width: 100px;
    margin: 0px 10px;
    padding: 6px 0px;
}

.input-date{
    width: 200px;
}

.input-group-text:hover{
    background-color: rgb(238, 238, 241) !important;
}

#group_icon_btn_search{
    margin-left: 5px;
    display: flex;
}