.right-content-linkanalysic{
    width: 100%;
    height: calc(100% - 0px);
    overflow: auto;
    background-color: #fff !important;
}

.left-content-linkanalysic{
    width: 100%;
    height: 100%;
    border-right: 1px solid rgba(58, 57, 57, 0.3);
}
#left-content-list-email-linkanalysis, #left-content-list-email-person{
    overflow: auto;
}
.left-content-csvfile{
    width: 100%;
    height: 100%;
    border-right: 1px solid rgba(58, 57, 57, 0.3);
    overflow: auto;
}

.row-content-emailcsvfile{
    width: 100%;
    height: calc(100%);
}

#text_csvfile{
    padding-left: 20px;
    height: 100%;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
}
.word-wrap{
    word-wrap: break-word;
    width: 100%;
}